{% extends "base.html" %}

{% block page_content %}
<center><h1>Team Contributions </h1></center>
&nbsp;

<section>
  <h3>Team Members:</h3>
  <ul>
    <li>Harald Tan: PM, Developer, Creation of webpages, Basic functionality</li>
    <li>Isaac Dendroff: Developer, Filtering of users, Addition of timestamps, Refinements to the History page</li>
	  <li>Poh Wan Jun: Tester, Writing of test cases</li>
    <li>V.Eshwar: QA Lead, Automated testing, Writing of test cases</li>
	  <li>Chung Yi Jun: QA, Automated testing and Manual testing</li>
  </ul>
</section>

{% endblock %}