{% extends "base.html" %}

{% block page_content %}
<center><h1>To-Do Page</h1></center>
<h1>{{request.user.username}}</h1>
&nbsp; 

<!-- <ul>
    <li>item A</li>
    <li>item B</li>
</ul> -->
<ul>
    {% if user.is_authenticated %}
        <!-- all_items from views.py -->
        {% for todo_item in all_items %}
            {% if todo_item.username == request.user.username %}
            <!-- show the content in all_items -->
            <li>{{ todo_item.content }}    ({{todo_item.time}})  
                
                <!-- form to delete todo item, shows delete button at the side -->
                <form action="deleteTodo/{{todo_item.id}}/"
                style="display: inline;" 
                method="POST">{% csrf_token %}
                    <input type="submit" value="Delete" name="Delete" />
                </form>
                <form action="archiveTodo/{{todo_item.id}}/"
                style="display: inline;" 
                method="POST">{% csrf_token %}
                    <input type="submit" value="Archive" name="Archive" />
                </form>
            </li>
            {%endif%}
        {% endfor %}
        <br />
        <form action="addTodo/" method="POST">{% csrf_token %}
            <input type="text" name="content" required/>
            <input type="submit" value="Add" name="Add" />
        </form>
    {% else %}
        <h4>Login to view To-Do list</h4>
    {% endif %}
</ul>

<!-- form to add new todo item -->

{% endblock %}